body {
    background-color: white;
    background-image: url(../images/Background/scene.png);
    background-repeat: repeat-x;
}

#container {
    width:100%
}

#gameCanvas {
    position: fixed;
    top: 5%;
    left: 50%;

    border: 5px solid rgba(255, 216, 100, 0.45);
    box-shadow: 0px 0px 30px #000;
}
